<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal" id="form1" th:object="${teacherstitletb}" autocomplete="off">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">教师资格证考试名称：</label>
                <div class="col-sm-8">
                    <input id="teacherstitle" name="teacherstitle" th:field="*{teacherstitle}" class="form-control" type="text">
                </div>
            </div>
			
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "teacherstitletb";

        var icon = "<i class='fa fa-times-circle'></i> ";
		$("#form1").validate({
            rules:{
					teacherstitle:{
                    required:true,
                },
        },
        messages: {
					teacherstitle: {
                    required: icon + "请输入教师资格证考试名称",
                },
        }
		});
		
		
    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form1').serialize());
        }
    }
		
	</script>
</body>
</html>
