<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改机构')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-orginfo-edit" th:object="${orginfo}" autocomplete="off">
            <input id="orgId" name="orgId" th:field="*{orgId}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">组织机构名称：</label>
                <div class="col-sm-8">
                    <p class="form-control-static">[[*{orgName}]]</p>
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">
                    <span style="color: red; ">*</span>负责人：
                </label>
                <div class="col-sm-8">
                    <input id="leaders" name="leaders" th:field="*{leaders}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">
                    <span style="color: red; ">*</span>联系电话：
                </label>
                <div class="col-sm-8">
                    <input id="telephone" name="telephone" th:field="*{telephone}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">
                    <span style="color: red; ">*</span>现有人数：
                </label>
                <div class="col-sm-8">
                    <input id="peopleNum" name="peopleNum" th:field="*{peopleNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">
                    <span style="color: red; ">*</span>领导人数：
                </label>
                <div class="col-sm-8">
                    <input id="leadersNum" name="leadersNum" th:field="*{leadersNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">
                    <span style="color: red; ">*</span>专任教师数：
                </label>
                <div class="col-sm-8">
                    <input id="teacherNum" name="teacherNum" th:field="*{teacherNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">
                    <span style="color: red; ">*</span>工勤人数：
                </label>
                <div class="col-sm-8">
                    <input id="logisticsNum" name="logisticsNum" th:field="*{logisticsNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">
                    <span style="color: red; ">*</span>学生人数：
                </label>
                <div class="col-sm-8">
                    <input id="studentNum" name="studentNum" th:field="*{studentNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">
                    <span style="color: red; ">*</span>班级数：
                </label>
                <div class="col-sm-8">
                    <input id="classNum" name="classNum" th:field="*{classNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">
                    <span style="color: red; ">*</span>专业技术岗位核定数：
                </label>
                <div class="col-sm-8">
                    <input id="technologySanctionedNum" name="technologySanctionedNum" th:field="*{technologySanctionedNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">
                    <span style="color: red; ">*</span>专业技术岗位实际聘任数：
                </label>
                <div class="col-sm-8">
                    <input id="technologyActualNum" name="technologyActualNum" th:field="*{technologyActualNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    超（空）岗位情况：
                </label>
                <div class="col-sm-8">
                    <input id="deviationInfo" name="deviationInfo" th:field="*{deviationInfo}" class="form-control" type="text">
                </div>
            </div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "orginfo";

        var icon = "<i class='fa fa-times-circle'></i> ";
		$("#form-orginfo-edit").validate({
            rules:{
					leaders:{
                    required:true,
                },
					telephone:{
                    required:true,
                    isPhone:true,
                },
					peopleNum:{
                    required:true,
                    isNumber:true
                },
					leadersNum:{
                    required:true,
                    isNumber:true
                },
					teacherNum:{
                    required:true,
                    isNumber:true
                },
					logisticsNum:{
                    required:true,
                    isNumber:true
                },
					studentNum:{
                    required:true,
                    isNumber:true
                },
					classNum:{
                    required:true,
                    isNumber:true
                },
					technologySanctionedNum:{
                    required:true,
                    isNumber:true
                },
					technologyActualNum:{
                    required:true,
                    isNumber:true
                },
                    deviationInfo: {
					required: false,
                }
            },
            messages: {
					leaders: {
                    required: icon + "请输入负责人",
                },
					telephone: {
                    required: icon + "请输入联系电话",
                    isPhone: icon + "手机号码格式错误",
                },
					peopleNum: {
                    required: icon + "请输入现有人数",
                    isNumber: icon + "请输入数字"
                },
					leadersNum: {
                    required: icon + "请输入领导人数",
                    isNumber: icon + "请输入数字"
                },
					teacherNum: {
                    required: icon + "请输入专任教师数",
                    isNumber: icon + "请输入数字"
                },
					logisticsNum: {
                    required: icon + "请输入工勤人数",
                    isNumber: icon + "请输入数字"
                },
					studentNum: {
                    required: icon + "请输入学生人数",
                    isNumber: icon + "请输入数字"
                },
					classNum: {
                    required: icon + "请输入班级数",
                    isNumber: icon + "请输入数字"
                },
					technologySanctionedNum: {
                    required: icon + "请输入专业技术岗位核定数",
                    isNumber: icon + "请输入数字"
                },
					technologyActualNum: {
                    required: icon + "请输入专业技术岗位实际聘任数",
                    isNumber: icon + "请输入数字"
                },
                    deviationInfo: {
                    required: icon + "请输入超（空）岗位情况",
                }
            }
		});

		function submitHandler() {
		    if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-orginfo-edit').serialize());
            }
        }
	</script>
</body>
</html>
