<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增菜单')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form1" autocomplete="off">
        <input id="parentId" name="parentId" type="hidden" th:value="${sysMenu.menuId}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label ">上级菜单：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="treeName" readonly="true"
                       th:value="${sysMenu.menuName}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">菜单类型：</label>
            <div class="col-sm-8">
                <div class="radio-box" th:each="data : ${@dict.getDictDataByTypeCode('sys_menu_type')}">
                    <input type="radio" th:id="${data.dataId}" name="menuType" th:value="${data.dataValue}"
                           th:checked="${data.isDefault == 1}">
                    <label th:for="${data.dataId}" th:text="${data.dataLabel}"></label>
                </div>
<!--                <label class="radio-box"> <input type="radio" name="menuType" value="1"/> 目录 </label>-->
<!--                <label class="radio-box"> <input type="radio" name="menuType" value="2"/> 菜单 </label>-->
<!--                <label class="radio-box"> <input type="radio" name="menuType" value="3"/> 按钮 </label>-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">菜单名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="menuName" id="menuName" autocomplete="off"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">请求地址：</label>
            <div class="col-sm-8">
                <input id="url" name="url" class="form-control" type="text" autocomplete="off"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">权限标识：</label>
            <div class="col-sm-8">
                <input id="perms" name="perms" class="form-control" type="text" autocomplete="off"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">显示排序：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="sort" autocomplete="off"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">图标：</label>
            <div class="col-sm-8">
                <input id="icon" name="icon" class="form-control" type="text" placeholder="选择图标">
                <div class="ms-parent" style="width: 100%;">
                    <div class="icon-drop animated flipInX" style="display: none;max-height:200px;overflow-y:auto">
                        <div data-th-include="sysMenu/icon"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">菜单状态：</label>
            <div class="col-sm-8">
                <div class="radio-box" th:each="data : ${@dict.getDictDataByTypeCode('sys_common_status')}">
                    <input type="radio" th:id="${data.dataId}" name="status" th:value="${data.dataValue}"
                           th:checked="${data.isDefault == 1}">
                    <label th:for="${data.dataId}" th:text="${data.dataLabel}"></label>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script>
    var prefix = ctx + "sysMenu";

    $("#form1").validate({
        rules: {
            menuType: {
                required: true,
            },
            menuName: {
                required: true,
            },
            sort: {
                required: true,
                digits: true
            },
        },
        messages: {}
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form1').serialize());
        }
    }

    $(function () {
        $("input[name='icon']").focus(function () {
            $(".icon-drop").show();
        });

        $("#form1").click(function (event) {
            var obj = event.srcElement || event.target;
            if (!$(obj).is("input[name='icon']")) {
                $(".icon-drop").hide();
            }
        });

        $(".icon-drop").find(".ico-list i").on("click", function () {
            $('#icon').val($(this).attr('class'));
        });

        $("input[name='menuType']").on('ifChecked', function (event) {
            var menuType = $(event.target).val();
            if (menuType == 1) {
                $("#url").parents(".form-group").hide();
                $("#perms").parents(".form-group").hide();
                $("#icon").parents(".form-group").show();
            } else if (menuType == 2) {
                $("#url").parents(".form-group").show();
                $("#perms").parents(".form-group").show();
                $("#icon").parents(".form-group").hide();
            } else if (menuType == 3) {
                $("#url").parents(".form-group").hide();
                $("#perms").parents(".form-group").show();
                $("#icon").parents(".form-group").hide();
            }
        });
    });

</script>
</body>
</html>
