<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://code.alibabatech.com/schema/dubbo
						http://code.alibabatech.com/schema/dubbo/dubbo.xsd" default-lazy-init="true">
	<!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的 -->
	<dubbo:application name="${dubbo.application.name}" logger="slf4j" />
	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry address="${dubbo.registry.address}" check="false" timeout="${dubbo.registry.timeout}"
		file="${dubbo.registry.cachedir}/dubbo-${dubbo.application.name}.cache"  username="${dubbo.registry.username}"
                    password="${dubbo.registry.password}" />

    <!-- 服务消费端配置 -->
	<dubbo:consumer timeout="${dubbo.consumer.timeout}" retries="${dubbo.consumer.retries}" />
	<dubbo:reference id="rpcUserService" interface="com.sundata.sdcloud.user.service.IUserService" check="false" retries="0"/>
	<dubbo:reference id="rpcTokenService" interface="com.sundata.sdcloud.sso.service.ITokenService" check="false" retries="0"/>

</beans>

