<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('班主任授权列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="form1" autocomplete="off">
                <div class="select-list">
                    <ul>
                        <li>
                            老师名字：<input type="text" name="teacherName"/>
                        </li>

                        <!--<li class="select-time">-->
                        <!--<label>创建时间： </label>-->
                        <!--<input type="text" class="time-input" id="startTime" placeholder="开始时间"-->
                        <!--name="params[beginTime]"/>-->
                        <!--<span>-</span>-->
                        <!--<input type="text" class="time-input" id="endTime" placeholder="结束时间"-->
                        <!--name="params[endTime]"/>-->
                        <!--</li>-->
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()">
                <i class="fa fa-plus"></i> 新增
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var datas_status = [[${@dict.getDictDataByTypeCode('sys_common_status')}]];
    var system_yes_no = [[${@dict.getDictDataByTypeCode('sys_common_yes_no')}]];
    var prefix = ctx + "userClassInfo";

    $(function () {
        var options = {
            id: "bootstrap-table",
            toolbar: "toolbar",
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            // exportUrl: prefix + "/export",
            sortName: "",
            sortOrder: "",
            modalName: "班主任",
            search: false,
            showExport: false,
            showColumns: false,
            columns: [
                {
                    field: 'id',
                    title: '编号',
                    visible: false
                },
                {
                    field: 'teacherId',
                    title: '老师id',
                    visible: false
                },
                {
                    field: 'gradeId',
                    title: '年级编号',
                    visible: false
                },
                {
                    field: 'classId',
                    title: '班级id',
                    visible: false
                },
                {
                    field: 'teacherName',
                    title: '老师名字'
                },
                {
                    field: 'classInfoList',
                    title: '班级信息',
                    // sortable: true
                },
                {
                    field: 'created',
                    title: '创建时间',
                    // sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    width: '10%',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs " href="#" onclick="$.operate.edit(\'' + row.teacherId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs " href="#" onclick="$.operate.remove(\'' + row.teacherId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function authUser(roleId, roleName) {
        $.operate.editTabUrl("分配[" + roleName + "]角色用户", prefix + "/authUser/" + roleId);
    }

</script>
</body>
</html>