<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('角色列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="form1" autocomplete="off">
                <div class="select-list">
                    <ul>
                        <li>
                            角色编码：<input type="text" name="roleCode"/>
                        </li>
                        <li>
                            角色名称：<input type="text" name="roleName"/>
                        </li>

                        <li>
                            角色状态：<select name="status"
                                         th:with="dictData=${@dict.getDictDataByTypeCode('sys_common_status')}">
                            <option value="">所有</option>
                            <option th:each="data : ${dictData}" th:text="${data.dataLabel}"
                                    th:value="${data.dataValue}"></option>
                        </select>
                        </li>
                        <!--<li class="select-time">-->
                        <!--<label>创建时间： </label>-->
                        <!--<input type="text" class="time-input" id="startTime" placeholder="开始时间"-->
                        <!--name="params[beginTime]"/>-->
                        <!--<span>-</span>-->
                        <!--<input type="text" class="time-input" id="endTime" placeholder="结束时间"-->
                        <!--name="params[endTime]"/>-->
                        <!--</li>-->
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" shiro:hasPermission="sysRole:add" onclick="$.operate.add()">
                <i class="fa fa-plus"></i> 新增
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var datas_status = [[${@dict.getDictDataByTypeCode('sys_common_status')}]];
    var system_yes_no = [[${@dict.getDictDataByTypeCode('sys_common_yes_no')}]];

    var editFlag = [[${@permission.hasPermi('sysRole:edit')}]];
    var removeFlag = [[${@permission.hasPermi('sysRole:remove')}]];
    var userFlag = [[${@permission.hasPermi('sysRole:user')}]];

    var prefix = ctx + "sysRole";

    $(function () {
        var options = {
            id: "bootstrap-table",
            toolbar: "toolbar",
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            // exportUrl: prefix + "/export",
            sortName: "roleId",
            sortOrder: "asc",
            modalName: "角色",
            search: false,
            showExport: false,
            showColumns: false,
            columns: [
                {
                    field: 'roleId',
                    title: '编号',
                    // visible: false
                },
                {
                    field: 'roleCode',
                    title: '角色编码'
                },
                {
                    field: 'roleName',
                    title: '角色名称',
                    // sortable: true
                },
                {
                    field: 'system',
                    title: '系统内置',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(system_yes_no, value);
                    }
                },
                {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(datas_status, value);
                    }
                },
                {
                    field: 'created',
                    title: '创建时间',
                    // sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.roleId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info btn-xs  ' + userFlag + '" href="#" onclick="authUser(\'' + row.roleId + '\',\'' + row.roleName + '\')"><i class="fa fa-user"></i>分配用户</a> ');
                        if (row.system != 1) {
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.roleId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function authUser(roleId, roleName) {
        $.operate.editTabUrl("分配[" + roleName + "]角色用户", prefix + "/authUser/" + roleId);
    }

</script>
</body>
</html>