<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>工资查询</title>
    <link rel="stylesheet" href="/css/mmlib.min.css"/>
    <link rel="stylesheet" href="/css/merge.css"/>
</head>
<body>
<div >
    <div class="mmhead clear">
        <a href="javascript:;" class="btn-menu" id="showMenu"><i class="icon-fold-menu"></i></a>
        <div class="title">error</div>
    </div>
</div>
</form>
<script src="/js/mmlib.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/teachingSet/teachingSubject.js"></script>
</body>
<style>

</style>
</html>
