<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundata.edu.dao.TeacherrecruitmenttitleMapper">
    
    <resultMap type="Teacherrecruitmenttitle" id="TeacherrecruitmenttitleResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
    </resultMap>
	
	<sql id="selectTeacherrecruitmenttitleVo">
        select id, title from teacherrecruitmenttitle
    </sql>
	
    <select id="selectTeacherrecruitmenttitleList" parameterType="Teacherrecruitmenttitle" resultMap="TeacherrecruitmenttitleResult">
        <include refid="selectTeacherrecruitmenttitleVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="title != null  and title != '' "> and title = #{title}</if>
         </where>
    </select>
    
    <select id="selectTeacherrecruitmenttitleById" parameterType="Integer" resultMap="TeacherrecruitmenttitleResult">
        <include refid="selectTeacherrecruitmenttitleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTeacherrecruitmenttitle" parameterType="Teacherrecruitmenttitle">
        insert into teacherrecruitmenttitle
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="title != null  and title != ''  ">title,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="title != null  and title != ''  ">#{title},</if>
         </trim>
    </insert>
	 
    <update id="updateTeacherrecruitmenttitle" parameterType="Teacherrecruitmenttitle">
        update teacherrecruitmenttitle
        <trim prefix="SET" suffixOverrides=",">
            title = #{title},
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteTeacherrecruitmenttitleById" parameterType="Integer">
        delete from teacherrecruitmenttitle where id = #{id}
    </delete>
	
    <delete id="deleteTeacherrecruitmenttitleByIds" parameterType="String">
        delete from teacherrecruitmenttitle where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>